@model IDictionary<string, string>
@{
    ViewData["Title"] = "Current cookies";
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">@ViewData["Error"]</p>

@if (Model != null || Model.Count == 0)
{
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

