<div class="container pt-5 hide" id="words-page" >
    <button type="button" class="btn btn-secondary mb-3 alignRight" data-toggle="modal" 
        data-target="#exampleModal">Add new word</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">ex word</td>
                <td>
                    <a href="#/words/${word.word}">Details</a> |
                    <a href="#/words/${word.id}/update">Update</a> |
                    <a href="#/words/${word.id}/delete">Delete</a>
                </td>  
            </tr>
        </tbody>
    </table>
</div>